{% extends "store/base.html" %}

{% block content %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">What do you wonder about us?</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br><br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in placerat sapien, quis mattis leo. Nulla nec erat justo. Nunc posuere ut odio eu tristique. Maecenas facilisis felis purus. Nunc a justo laoreet, dictum urna at, hendrerit sem. Pellentesque auctor eros in facilisis sollicitudin. In hac habitasse platea dictumst. Pellentesque placerat dui dictum, varius diam eu, rhoncus purus. Ut blandit erat ut sem vulputate varius. In volutpat venenatis orci, ac hendrerit elit euismod vitae. Phasellus ultrices ex ultricies urna vehicula, at imperdiet erat cursus. Nam vel arcu pharetra, aliquet lectus et, mollis urna. Cras vitae lorem urna. Vestibulum consequat elit ut auctor pulvinar. Aliquam tempor nisi vel mi congue, ut pulvinar urna faucibus.
                    <br><br><br>
                    Praesent mi lectus, pharetra id viverra sit amet, molestie non sapien. Donec malesuada mattis tortor efficitur aliquet. Duis porttitor, nulla nec feugiat tincidunt, nisl purus semper libero, sit amet pretium nisi est scelerisque felis. Nulla faucibus sapien ex, ac volutpat purus hendrerit ut. Fusce ultricies diam mauris, sit amet pretium sem maximus sit amet. Fusce maximus convallis urna, non condimentum nulla blandit nec. Proin enim elit, eleifend sed sagittis at, faucibus at magna.
                    <br><br><br>
                    Praesent vel tempus erat. Vivamus sit amet ante congue, sodales mauris vitae, rhoncus enim. Vestibulum at nisi a nunc vehicula finibus. Suspendisse hendrerit elit elit, et tincidunt risus tincidunt tempus. Praesent quis feugiat ligula. Mauris quam nibh, tincidunt eget varius sed, sagittis vitae risus. Donec pellentesque purus et lacinia dapibus. Donec ex orci, efficitur vitae dictum vitae, ultrices vel ipsum. Etiam aliquet ultricies odio vitae commodo. Mauris eget tortor vulputate risus bibendum dictum sed sed neque. Nullam efficitur placerat libero vitae ornare. Proin magna erat, pulvinar vitae tellus ac, luctus fringilla mi. Suspendisse ex nisl, pharetra vitae leo nec, eleifend vehicula lacus. Suspendisse commodo faucibus pulvinar. Mauris consectetur lorem eu bibendum mollis.
                    <br><br><br>
                </p>
            </div>
        </center>
    </div>
</div>



{% endblock content %}